/* header */
@import "navigation.css";

.header-container {
    @apply bg-purple-800 text-white;
    position: relative;
}
button {
    @apply bg-purple-800 text-white;
    border: 0;
    outline: none;
    padding: 0;
}
